<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main","layout":{"type":"default"}} -->
<main class="wp-block-group site-main">
    <!-- wp:group {"className":"content-area page-content","layout":{"type":"default"}} -->
    <div class="wp-block-group content-area page-content">
        <!-- wp:group {"className":"page-header","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
        <div class="wp-block-group page-header" style="margin-bottom:var(--wp--preset--spacing--50)">
            <!-- wp:post-title {"level":1} /-->
        </div>
        <!-- /wp:group -->

        <!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}}} /-->

        <!-- wp:group {"className":"page-content-inner markdown-body","layout":{"type":"default"}} -->
        <div class="wp-block-group page-content-inner markdown-body">
            <!-- wp:post-content /-->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
